/* Product Card */

.product-card {
  display: flex;
  flex-direction: row;
  background-color: #F0EDE8;
  color: #575656;
  padding: 8px;
  border-radius: 5px;
  margin: 20px 0;
  min-height: 110px;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.product-card--image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;


  img {
    width: 90%;
    object-fit: contain;
    max-height: 90px;
  }
}

.product-card--content {
  margin: 0 0 0 7px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card--content--title {
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}

.product-card--content-description {
  font-size: 11px;
  text-align: justify;
  padding: 0;
  margin: 0;
}

.product-card--content-details {
  color: #CB7373;
  text-transform: capitalize;
  margin: 7px 0;
}

.product-card--action-group {
  display: flex;

  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;

  padding-left: 11px;
  font-size: 9px;

  button {
    background-color: #3F0000;
    color: #fff;
    width: 100%;
    font-size: 8px;
    border-radius: 5px;
    padding: 6px;
    font-weight: 100;
    letter-spacing: 0;
  }


  p{
    margin: 0;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
  }
}


/* Product card: Cart Item Variation */
.product-card__cart-item {
  position: relative;

  .product-card--action-group {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
    padding-left: 0;
    font-size: 10px;
    flex-direction: row;

    button {
      border-radius: 0;
    }

  }

  .product-card__cart-item--action {
    background-color: #D8D8D8;
  }

  .product-card__cart-item--value {
    background-color: white;
    min-width: 25px;


    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-card__cart-item--remove {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    max-width: 55px;
    background-color: transparent;
  }

}


/* Product card: Card Detail */

.product-card__detail {
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  color: #5e5d5c
}

.product-card__detail--meta-data {
  display: flex;
  flex-direction: row;
}

.product-card__detail--meta-primary {
  flex-grow: 1;
  display: flex;
  align-items: center;

  .container{
    width: 100%;
  }

  .product-name {
    color: #5e5d5c;
    padding-left: 6%;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
  }

  .product-company {
    color: #5e5d5c;
    padding-left: 7%;
    font-size: small;
    text-align: left;
  }
}

.product-card__detail--meta-secondary {
  width: 35%;

  img {
    object-fit: contain;
    height: 115px;
  }
}

.product-card__detail--content {
  text-align: left;
  margin-bottom: 20px;
}

.product-card__detail--content--header {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3px;
  color: rgba(94, 93, 92, 0.5);
}

.product-card__detail--content--details {
  font-size: 12px;

  p{
    margin: 0;
  }

  ul{
    list-style-type: circle;
    margin: 0;
    padding: 0 15px;
  }

  .technical-data-label {
    font-weight: bold;
  }
}