/* */

.product-card {
  display: flex;
  flex-direction: row;
  background-color: #F0EDE8;
  color: #575656;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  min-height: 110px;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.product-card--image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;


  img {
    width: 90%;
    object-fit: contain;
    max-height: 90px;
  }
}

.product-card--content {
  margin: 0 0 0 7px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card--content--title {
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}

.product-card--content-description {
  font-size: 11px;
  text-align: justify;
  padding: 0;
  margin: 0;
}

.product-card--content-details {
  color: #CB7373;
  text-transform: capitalize;
  margin: 7px 0;
}

.product-card--action-group {
  display: flex;

  justify-content: space-around;
  flex-direction: column;
  flex-grow: 1;

  padding-left: 10px;
  font-size: 9px;

  button {
    background-color: #3F0000;
    color: #fff;
    width: 100%;
    font-size: 9px;
    border-radius: 5px;
    padding: 5px;
  }
}

/* Product card: Cart Item Variation */
.product-card__cart-item {

  position: relative;

  .product-card--action-group {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
    padding-left: 0;
    font-size: 10px;
    flex-direction: row;

    button {
      border-radius: 0;
    }
  }

  .product-card__cart-item--action {
    background-color: #D8D8D8;
  }

  .product-card__cart-item--value {
    background-color: white;
    min-width: 25px;


    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-card__cart-item--remove {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    max-width: 55px;
    background-color: transparent;
  }

}