<ion-header>
    <ion-navbar color="tabRed">
        <ion-title align="center">Contact</ion-title>

        <ion-buttons clear end>

            <button clear ion-button padding-horizontal>
                <ion-icon name="search"></ion-icon>
            </button>

            <button ion-button (click)="registerCustomer()">
                <ion-icon name="md-add"></ion-icon>
            </button>

        </ion-buttons>
    </ion-navbar>
</ion-header>

<!--DUMMY DATA-->
<ion-content class="masterBg">

    <ion-list *ngIf="customerInitials">

        <div *ngFor="let initial of customerInitials">
            <div padding class="spacer alpha-divider" style="width: 100%; height:20px">
                {{initial | uppercase}}
            </div>
            <div *ngFor="let customer of customersByInitial[initial]">
                <button ion-item color="bgRed" class="item-border" (click)="viewCustomerProfile(customer.id)">
                    <div class="contactName">
                        {{customer.firstName}}
                        {{customer.lastName}}
                    </div>
                    <div class="contactCompany">
                        {{customer.company.name}}
                    </div>
                </button>
            </div>
        </div>

    </ion-list>

</ion-content>
