<ion-header>

    <ion-navbar color="tabRed">
        <ion-title>Products</ion-title>
        <ion-buttons clear end>
            <button ion-button clear padding-horizontal (click)="viewCartsPage()">
                [{{shoppingCartItems.length}}]
                <img src="assets/imgs/cart.png" style="padding-left: 5px">
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content class="masterBg">
    <ion-searchbar showCancelButton color="light"
                   [(ngModel)]="productSearchTerm"
                   (ionInput)="setFilteredProducts($event)"
                   debounce="300"
    >

    </ion-searchbar>


    <div *ngIf="categoriesWithProducts">

        <div class="list list__multi-level">
            <div *ngFor="let parentCategoryName of parentCategoryNames"
                 class="list--level-1">
                <ion-row class="list--child" (click)="toggleParentCategory(parentCategoryName)">
                    <ion-col col-3>
                        <img src="{{categoriesWithProducts[parentCategoryName].imageUrl}}" height="85%" width="85%">
                    </ion-col>
                    <ion-col align-self-center class="productName">
                        {{categoriesWithProducts[parentCategoryName].name}}
                    </ion-col>
                </ion-row>

                <ng-container *ngIf="categoriesWithProducts[parentCategoryName].childCategories.length > 0 && categoriesWithProducts[parentCategoryName].open ">
                    <div *ngFor="let childCategory of categoriesWithProducts[parentCategoryName].childCategories"
                         class="list--level-2">
                        <ion-row class="list--child"
                                 (click)="viewDetailedCategoryPage(categoriesWithProducts[parentCategoryName], childCategory)">
                            <ion-col col-3>
                                <img src="{{childCategory.imageUrl}}" height="85%" width="85%">
                            </ion-col>
                            <ion-col align-self-center class="productName">
                                {{childCategory.name}}
                            </ion-col>
                        </ion-row>

                    </div>
                </ng-container>
            </div>
        </div>
    </div>

</ion-content>
